<p>book-list works!</p>

<ng-container *ngIf="ui$ | async as ui">
  <p>{{ ui.ticker }}</p>
  <p>{{ ui.books.length }}</p>
</ng-container>

<ng-container *ngIf="books$ | async as books">
  <ol>
    <li *ngFor="let book of books">
      <app-book-card
        (detailClick)="goToBookDetails($event)"
        [myBook]="book"
        [step]="5"
      ></app-book-card>
    </li>
  </ol>
</ng-container>

<ol *ngIf="false">
  <li *ngFor="let book of books">
    <app-book-card
      (detailClick)="goToBookDetails($event)"
      [myBook]="book"
      [step]="5"
    ></app-book-card>
  </li>
</ol>
